//style.scss — archivo raíz que compila a assets/css/style.css
//====== Abstracts (configuración y helpers) ======
@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/placeholders";

//====== Base ======
@use "base/reset";
@use "base/fonts";
@use "base/base";

//====== Layout (estructura general) ======
@use "layout/header";
@use "layout/footer";

// ====== Componentes reutilizables ======
@use "components/cards";

//====== Páginas ======
@use "pages/uvas";
@use "pages/glosario";
@use "pages/vendimia";
@use "pages/index";
