/* pages/_glosario.scss */
@use "sass:map";
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as vars;

/* =========  Glosario (cards pequeñas)  =========== */
.g-card {
  @extend %card-base;
  border-radius: 10px;
  padding: 0.75rem 0.9rem;
  height: 100%;

  @include flex-col(0.25rem);
  @include smooth-transition(all, 0.2s);

  h3 {
    color: map.get(vars.$colors, tinto);
  }

  /* Hover más sutil que la card grande */
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(map.get(vars.$colors, tinto), 0.15);
  }
}
