/* layout/_footer.scss */
@use "sass:map";
@use "../abstracts/variables" as vars;

/* =========  Footer  =========== */
.site-footer {
  background: map.get(vars.$colors, footer-bg);
  border-top: 1px solid map.get(vars.$colors, edge-line);

  .btn i {
    line-height: 1;
  }

  .btn:hover {
    border-color: map.get(vars.$colors, tinto);
    color: map.get(vars.$colors, tinto);
  }

  p,
  address {
    font-size: 0.95rem;
  }
}

.text-tinto {
  color: map.get(vars.$colors, tinto);
}

.contact-link {
  color: map.get(vars.$colors, tinto);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}
