@use "sass:map";
@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as vars;

/* =========  Cards  =========== */
.card {
  @extend %card-base;

  .card-title {
    color: map.get(vars.$colors, tinto);
  }

  figure {
    margin: 0 0 0.6rem;
  }
}
