/* components/_cards.scss */
@use "sass:map";
@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

// =========  Cards  ==========
.card {
  @extend %card-base;

  // transición para levantar la card al hover
  @include smooth-transition(all, 0.25s);

  .card-title {
    color: map.get(vars.$colors, tinto);
  }

  // Nos aseguramos de que la imagen pueda hacer “zoom” sin salirse
  figure {
    margin: 0 0 0.6rem;
    overflow: hidden;

    img {
      @include smooth-transition(transform, 0.3s);
    }
  }

  // Efecto hover: la card se “levanta”
  &:hover {
    transform: translateY(-4px);
    // sombra simple, no importa tanto el color exacto para la cursada
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
  }

  // Zoom leve de la imagen al hover
  &:hover figure img {
    transform: scale(1.03);
  }
}
