/* components/_cards.scss */
@use "sass:map";
@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

/* =========  Cards  =========== */
.card {
  @extend %card-base;

  /* transición para levantar la card al hover */
  @include smooth-transition(all, 0.25s);

  .card-title {
    color: map.get(vars.$colors, tinto);
  }

  figure {
    margin: 0 0 0.6rem;
    overflow: hidden; /* para que el zoom de la imagen no se salga */
  }

  /* Efecto hover: card se “levanta” y gana sombra */
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 18px rgba(map.get(vars.$colors, tinto), 0.18);
  }

  /* (Opcional) zoom leve de la imagen de la card */
  figure img {
    @include smooth-transition(transform, 0.3s);
  }

  &:hover figure img {
    transform: scale(1.03);
  }
}
