/* scss/abstracts/_placeholders.scss */
@use "sass:map";
@use "variables" as vars; // 👈 SIN "abstracts/"

/* Base para tarjetas (card, g-card, etc.) */
%card-base {
  background: map.get(vars.$colors, card);
  border: 1px solid map.get(vars.$colors, line);
  box-shadow: inset 0 0 0 1px map.get(vars.$colors, line);
}
