// abstracts/_placeholders.scss
// Placeholders reutilizables (para usar con @extend)

@use "sass:map";
@use "../abstracts/variables" as vars;

/* Estilo base de tarjeta*/
%card-base {
  background: map.get(vars.$colors, card);
  border: 1px solid map.get(vars.$colors, line);
  box-shadow: inset 0 0 0 1px map.get(vars.$colors, line);
  border-radius: 0.75rem;
}
